@page
@model SmartBeauty.Pages.Salons.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Salon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Salon.SalonID" />
            <div class="form-group">
                <label asp-for="Salon.SalonName" class="control-label"></label>
                <input asp-for="Salon.SalonName" class="form-control" />
                <span asp-validation-for="Salon.SalonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salon.Email" class="control-label"></label>
                <input asp-for="Salon.Email" class="form-control" />
                <span asp-validation-for="Salon.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salon.Address" class="control-label"></label>
                <input asp-for="Salon.Address" class="form-control" />
                <span asp-validation-for="Salon.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salon.PhoneNumber" class="control-label"></label>
                <input asp-for="Salon.PhoneNumber" class="form-control" />
                <span asp-validation-for="Salon.PhoneNumber" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Salon.City" class="control-label"></label>
                <select asp-for="Salon.CityID" class="form-control"
                        asp-items="@Model.CityNameSL"></select>
                <span asp-validation-for="Salon.CityID" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
